header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 10vh;
    padding: 20px;
    background-color: #eaeaea;
}

/* .logo-container {
    display: flex;
    align-items: center;
} */

.logo-container img {
    width: 150px;
    margin-right: 10px;
}

/* .logo-container span {
    font-weight: bold;
} */