:root {
    --header-bg-color: #eaeaea;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    padding: 20px;
    background-color: var(--header-bg-color);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    max-width: 150px;
    width: 100%;
    height: auto;
}

.logo-container img + * {
    margin-left: 10px;
}

.logo-container span {
    font-weight: bold;
}