:root {
  --font-primary: 'Instrument Sans', sans-serif;
  --font-secondary: 'Merriweather', serif;
  --color-primary: #495E57;
  --color-accent: #F4CE14;
  --color-bg-light: #edefee;
  --color-danger: firebrick;
  --color-white: #fff;
  --color-black: #000;
}

main {
  font-family: var(--font-primary);
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-size: 48pt;
  font-weight: bold;
  color: var(--color-accent);
}

h2 {
  font-size: 32pt;
  font-family: var(--font-secondary);
  color: var(--color-white);
}

h3 {
  font-size: 24pt;
  font-family: var(--font-secondary);
  color: var(--color-primary);
}

p {
  font-size: 12pt;
  font-family: var(--font-secondary);
  color: var(--color-black);
}

button {
  padding: 10px;
  margin: 10px 0;
  background-color: var(--color-accent);
  color: var(--color-primary);
  font-weight: bold;
  font-size: 16pt;
  border-radius: 10pt;
  border: none;
}

.hero {
  display: flex;
  background-color: var(--color-primary);
}

.hero-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.hero-image-container {
  display: flex;
  align-items: center;
  padding: 50px;
}

.hero img {
  height: 300px;
}

.hero h1 {
    color: var(--color-accent);
    font-weight: bold;
    font-size: 48pt;
    margin: 0;
}

.hero h2 {
    color: var(--color-white);
    font-size: 32pt;
}

.hero p {
  color: var(--color-white);
}

.hero button {
    border-radius: 10pt;
}

.specials {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  max-width: 1080px;
  margin: 0 auto;
}

.specials-menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 50px 20px;
  max-width: 1080px;
}

.specials h3 {
    color: var(--color-primary);
    font-size: 24pt;
    margin: 0;
}

.specials button {
    border-radius: 10pt;
}

.special-card-container {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 60px;
}

.special-card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: var(--color-bg-light);
  width: 260px;
  justify-content: space-between;
}

.special-card-title-price {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.dish-name, .dish-price {
  font-family: var(--font-primary);
  font-weight: bold;
}

.dish-price {
  color: var(--color-danger);
}

.special-card-description {
    margin: 10px;
}

.special-card-order-delivery {
  margin: 10px;
}

.special-card-order-delivery h6 {
  font-weight: bold;
}

.customer-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-accent);
}

.customer-reviews h3 {
  display: flex;
  justify-content: center;
  font-size: 24pt;
  color: var(--color-primary);
  padding: 60px 0 20px 0;
}

.review-card-container {
  display: flex;
  justify-content: space-evenly;
  align-items: top;
  padding-bottom: 60px;
  max-width: 1080px;
}

.review-card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  max-width: 200px;
  min-width: 200px;
  margin: 10px;
}

.review-name-and-rating {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid;
}

.review-name h6 {
    font-weight: bold;
}

.review-text {
  padding: 10px;
}

.about {
  background-color: var(--color-primary);
  padding: 20px;
}

.about h1 {
    color: var(--color-accent);
    font-weight: bold;
    font-size: 48pt;
    margin: 0;
}

.about h2 {
    color: var(--color-white);
    font-size: 32pt;
}

.about-container {
  display: flex;
}

.about-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
}

.about-text-container p {
  color: var(--color-white);
}

.about-image-container {
  display: flex;
  align-items: center;
  margin: 20px;
}